.post
  display: flex
  align-items: flex-start
  margin-bottom: 1.25rem

  &:last-child
    margin-bottom: 0

.post-content-link
  text-decoration: none

.post-content-title
  color: var(--color-text-link)
  margin-bottom: 0

.post-roadmap
  text-transform: uppercase
  font-weight: 500
  font-size: 0.875rem
  margin-top: 0.25rem

.post-content-description
  margin-top: 0.5rem
  color: var(--color-gray-40)
  margin-bottom: 0.625rem

.post-date
  color: var(--color-gray-70)
  font-size: 0.875rem

.post-status
  font-size: 0.875rem
  font-weight: 500
  margin-left: 10px
  padding: 0.25rem 0.5rem
  border-radius: 0.25rem
  background-color: var(--color-gray-30)
  &.status-submitted
    background-color: blue
    color: white
  &.status-prioritised
    background-color: orange
    color: white
  &.status-in-development
    background-color: purple
    color: white
  &.status-resolved
    background-color: green
    color: white
  &.status-not-implementing
    background-color: red
    color: white
